/* styles.css */
#exm- {
  background-color: #d0e9f4; /* Cor de fundo do alert-info */
  color: #0c5460; /* Cor do texto do alert-info */
}


#exr- {
  background-color: #fff3cd; /* Cor de fundo do alert-info */
  color: #856404; /* Cor do texto do alert-info */
}

#def- {
  background-color: #d4edda; /* Cor de fundo do alert-info */
  color: #155724; /* Cor do texto do alert-info */
}

#prp- {
  background-color: #d4edda; /* Cor de fundo do alert-info */
  color: #155724; /* Cor do texto do alert-info */
}
